@*@using RustamGapurovEndTask.EntityLayer.Concrete.Entities;
@model List<Category>*@

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h4>Kategoriler</h4>

   @* @foreach (var Category in Model)
        {
            <p>@Category.Name</p>
            <a class="btn btn-outline-success m-2" href="/Home/CategoryBar/@Category.Id" >@Category.Name</a><br />
        }*@
